<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <style>
        .center {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: Comic Sans MS;
            background-color: black;
            color: skyblue
          }
    </style>
    <title>IRIS-SPECIES-PREDICTION</title>
</head>
<body class="center">

    <h1>Iris Species Predictor</h1>
    <br>

    <form action="result">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" name="sepal_length" type="text" placeholder="Sepal Length" required>
        </div>

        <div class="form-group">
            <input class="form-control" name="sepal_width" type="text" placeholder="Sepal Width" required>
        </div>

        <div class="form-group">
            <input class="form-control" name="petal_length" type="text" placeholder="Petal Length" required>
        </div>

        <div class="form-group">
            <input class="form-control" name="petal_width" type="text" placeholder="Petal Width" required>
        </div>

        <input class="btn btn-primary btn-lg" type="submit" value="Predict">

    </form>

    <br>

    {% comment %} <div class="form-group">

        <h4>The Predicted Species: {{result}}</h4>

    </div> {% endcomment %}
    
</body>
</html>